{
  "swagger": "2.0",
  "info": {
    "title": "SCANOSS Components Service",
    "description": "Provides component intelligence services",
    "version": "2.0",
    "contact": {
      "name": "scanoss-components",
      "url": "https://github.com/scanoss/components",
      "email": "support@scanoss.com"
    }
  },
  "tags": [
    {
      "name": "Components"
    }
  ],
  "host": "api.scanoss.com",
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/components/echo": {
      "post": {
        "summary": "Standard echo",
        "operationId": "Components_Echo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2EchoResponse"
            }
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Echo Message Request.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2EchoRequest"
            }
          }
        ],
        "tags": [
          "Components"
        ]
      }
    },
    "/v2/components/search": {
      "get": {
        "summary": "Search for components",
        "operationId": "Components_SearchComponents",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2CompSearchResponse"
            }
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "search",
            "description": "Component to search for (vendor/component/purl). Search is exclusive (will override vendor/component)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendor",
            "description": "Vendor to search for. Vendor can be combined with Component",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "component",
            "description": "Component to search for. Component can be combined with Vendor",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "package",
            "description": "Type of package (purl type) to search for. i.e. github, maven, golang, npm, all - default github",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of matches to return - default 50",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "description": "Offset to submit to return the next (limit) of component matches",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Components"
        ]
      }
    },
    "/v2/components/statistics": {
      "post": {
        "summary": "Get the statistics for the specified components",
        "operationId": "Components_GetComponentStatistics",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ComponentsStatisticResponse"
            }
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Represents a list of software component to be analyzed by SCANOSS API services.\nAllows analysis of multiple software components in a single API call, improving performance over individual requests.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2ComponentsRequest"
            }
          }
        ],
        "tags": [
          "Components"
        ]
      }
    },
    "/v2/components/status/component": {
      "get": {
        "summary": "Get status information for a specific purl via a get request",
        "operationId": "Components_GetComponentStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ComponentStatusResponse"
            }
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "purl",
            "description": "Package URL identifying the component to analyze.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "requirement",
            "description": "Version constraint for component resolution when PURL lacks explicit version.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Components"
        ]
      }
    },
    "/v2/components/status/components": {
      "post": {
        "summary": "Get the status for a list of purls posted in the body",
        "operationId": "Components_GetComponentsStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ComponentsStatusResponse"
            }
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Represents a list of software component to be analyzed by SCANOSS API services.\nAllows analysis of multiple software components in a single API call, improving performance over individual requests.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2ComponentsRequest"
            }
          }
        ],
        "tags": [
          "Components"
        ]
      }
    },
    "/v2/components/versions": {
      "get": {
        "summary": "Get all version information for a specific component",
        "operationId": "Components_GetComponentVersions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2CompVersionResponse"
            }
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "purl",
            "description": "Component to search for (purl)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of versions to return - default 50",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Components"
        ]
      }
    }
  },
  "definitions": {
    "CompStatisticLanguage": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "files": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CompVersionResponseVersion": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2CompVersionResponseLicense"
          }
        },
        "date": {
          "type": "string",
          "title": "Release date of the version"
        }
      },
      "title": "Version details (including license)"
    },
    "ComponentStatusResponseComponentStatus": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "title": "Development status of the requested component"
        },
        "first_indexed_date": {
          "type": "string",
          "title": "Date of the first time component was indexed"
        },
        "last_indexed_date": {
          "type": "string",
          "title": "Date of the last time component was indexed"
        }
      }
    },
    "ComponentStatusResponseVersionStatus": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "title": "Development status of the requested version of this component"
        },
        "indexed_date": {
          "type": "string",
          "title": "Date that the component was indexed"
        },
        "check_date": {
          "type": "string",
          "title": "Date that the status was checked"
        }
      }
    },
    "ComponentsStatisticResponseComponentStatistics": {
      "type": "object",
      "properties": {
        "purl": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "statistics": {
          "$ref": "#/definitions/v2CompStatistic"
        }
      }
    },
    "StatusResponseDB": {
      "type": "object",
      "properties": {
        "schema_version": {
          "type": "string",
          "title": "Semantic schema version (e.g., 'v1.0.0')"
        },
        "created_at": {
          "type": "string",
          "title": "When this DB was built (ISO 8601 format)"
        }
      },
      "description": "Database version information."
    },
    "StatusResponseServer": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "title": "Semantic version (e.g., 'v1.0.0')"
        }
      },
      "description": "Server information."
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v2CompSearchResponse": {
      "type": "object",
      "example": {
        "components": [
          {
            "name": "scanoss-py",
            "purl": "pkg:github/scanoss/scanoss.py",
            "url": "https://github.com/scanoss/scanoss.py",
            "component": "scanoss-py"
          },
          {
            "name": "engine",
            "purl": "pkg:github/scanoss/engine",
            "url": "https://github.com/scanoss/engine",
            "component": "engine"
          }
        ],
        "status": {
          "status": "SUCCESS",
          "message": "Components successfully retrieved"
        }
      },
      "properties": {
        "components": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2CompSearchResponseComponent"
          },
          "title": "Component response details"
        },
        "status": {
          "$ref": "#/definitions/v2StatusResponse",
          "title": "Response status (required?)"
        }
      },
      "title": "Component Search response data (JSON payload)"
    },
    "v2CompSearchResponseComponent": {
      "type": "object",
      "properties": {
        "component": {
          "type": "string",
          "title": "TODO: Remove this message field. Replaced by name in future versions"
        },
        "purl": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "Component details"
    },
    "v2CompStatistic": {
      "type": "object",
      "properties": {
        "total_source_files": {
          "type": "integer",
          "format": "int32"
        },
        "total_lines": {
          "type": "integer",
          "format": "int32"
        },
        "total_blank_lines": {
          "type": "integer",
          "format": "int32"
        },
        "languages": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/CompStatisticLanguage"
          }
        }
      }
    },
    "v2CompVersionResponse": {
      "type": "object",
      "example": {
        "component": {
          "name": "engine",
          "purl": "pkg:github/scanoss/engine",
          "url": "https://github.com/scanoss/engine",
          "versions": [
            {
              "version": "5.0.0",
              "licenses": [
                {
                  "name": "GNU General Public License v2.0",
                  "spdx_id": "GPL-2.0",
                  "is_spdx_approved": true,
                  "url": "https://spdx.org/licenses/GPL-2.0.html"
                }
              ],
              "date": "2024-01-15T10:30:00Z"
            }
          ],
          "component": "engine"
        },
        "status": {
          "status": "SUCCESS",
          "message": "Component versions successfully retrieved"
        }
      },
      "properties": {
        "component": {
          "$ref": "#/definitions/v2CompVersionResponseComponent",
          "title": "Component response details"
        },
        "status": {
          "$ref": "#/definitions/v2StatusResponse",
          "title": "Response status"
        }
      },
      "title": "Component Version response data (JSON payload)"
    },
    "v2CompVersionResponseComponent": {
      "type": "object",
      "properties": {
        "component": {
          "type": "string",
          "title": "TODO: Remove this message field. Replaced by name in future versions"
        },
        "purl": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "versions": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/CompVersionResponseVersion"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "title": "Component details (including versions)"
    },
    "v2CompVersionResponseLicense": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "spdx_id": {
          "type": "string"
        },
        "is_spdx_approved": {
          "type": "boolean"
        },
        "url": {
          "type": "string"
        }
      },
      "title": "License details"
    },
    "v2ComponentRequest": {
      "type": "object",
      "example": {
        "purl": "pkg:github/scanoss/engine@1.0.0"
      },
      "properties": {
        "purl": {
          "type": "string",
          "description": "Package URL identifying the component to analyze."
        },
        "requirement": {
          "type": "string",
          "description": "Version constraint for component resolution when PURL lacks explicit version."
        }
      },
      "description": "Represents a software component to be analyzed by SCANOSS API services.\nCombines a Package URL for component identification with optional version constraints for resolution.",
      "required": [
        "purl"
      ]
    },
    "v2ComponentStatusResponse": {
      "type": "object",
      "example": {
        "purl": "pkg:npm/strive-molu-axios",
        "name": "strive-molu-axios",
        "version_status": {
          "version": "0.0.1-beta.1",
          "status": "deleted",
          "indexed_date": "2024-06-21",
          "check_date": "2026-02-01"
        },
        "component_status": {
          "status": "active",
          "first_indexed_date": "2022-03-01",
          "last_indexed_date": "2026-02-15"
        }
      },
      "properties": {
        "purl": {
          "type": "string",
          "title": "Purl requested"
        },
        "name": {
          "type": "string",
          "title": "Name of the component"
        },
        "version_status": {
          "$ref": "#/definitions/ComponentStatusResponseVersionStatus",
          "title": "Information about the requested version. If no requirement is described, the latest version of the component is responded"
        },
        "component_status": {
          "$ref": "#/definitions/ComponentStatusResponseComponentStatus",
          "title": "/ Information about the current development status of the component"
        }
      },
      "title": "Component development status"
    },
    "v2ComponentsRequest": {
      "type": "object",
      "example": {
        "components": [
          {
            "purl": "pkg:github/scanoss/engine@1.0.0"
          },
          {
            "purl": "pkg:github/scanoss/scanoss.py@v1.30.0"
          }
        ]
      },
      "properties": {
        "components": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2ComponentRequest"
          },
          "title": "Array of component requests to analyze"
        }
      },
      "description": "Represents a list of software component to be analyzed by SCANOSS API services.\nAllows analysis of multiple software components in a single API call, improving performance over individual requests.",
      "required": [
        "components"
      ]
    },
    "v2ComponentsStatisticResponse": {
      "type": "object",
      "example": {
        "component_statistics": [
          {
            "purl": "pkg:github/scanoss/engine@5.0.0",
            "version": "5.0.0",
            "statistics": {
              "total_source_files": 156,
              "total_lines": 25430,
              "total_blank_lines": 3420,
              "languages": [
                {
                  "name": "C",
                  "files": 89
                },
                {
                  "name": "C Header",
                  "files": 45
                }
              ]
            }
          }
        ],
        "status": {
          "status": "SUCCESS",
          "message": "Component statistics successfully retrieved"
        }
      },
      "properties": {
        "component_statistics": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/ComponentsStatisticResponseComponentStatistics"
          },
          "title": "Component statistic details"
        },
        "status": {
          "$ref": "#/definitions/v2StatusResponse",
          "title": "Response status"
        }
      },
      "title": "Component Statistics response data (JSON payload)"
    },
    "v2ComponentsStatusResponse": {
      "type": "object",
      "example": {
        "components": [
          {
            "purl": "pkg:npm/strive-molu-axios",
            "name": "strive-molu-axios",
            "version_status": {
              "version": "0.0.1-beta.1",
              "status": "deleted",
              "indexed_date": "2024-06-21",
              "check_date": "2026-02-01"
            },
            "component_status": {
              "status": "active",
              "first_indexed_date": "2022-03-01",
              "last_indexed_date": "2026-02-15"
            }
          }
        ]
      },
      "properties": {
        "component_status": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2ComponentStatusResponse"
          },
          "title": "Component status"
        },
        "status": {
          "$ref": "#/definitions/v2StatusResponse",
          "title": "Response status"
        }
      },
      "title": "Component Statistics response data (JSON payload)"
    },
    "v2EchoRequest": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "description": "Echo Message Request."
    },
    "v2EchoResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "description": "Echo Message Response."
    },
    "v2StatusCode": {
      "type": "string",
      "enum": [
        "UNSPECIFIED",
        "SUCCESS",
        "SUCCEEDED_WITH_WARNINGS",
        "WARNING",
        "FAILED"
      ],
      "default": "UNSPECIFIED",
      "description": "Status code Enum."
    },
    "v2StatusResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/v2StatusCode",
          "title": "response status"
        },
        "message": {
          "type": "string",
          "title": "Status message"
        },
        "db": {
          "$ref": "#/definitions/StatusResponseDB",
          "title": "Database version information (optional)"
        },
        "server": {
          "$ref": "#/definitions/StatusResponseServer",
          "title": "Server information"
        }
      },
      "description": "Detailed response details."
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "description": "API key for authentication",
      "name": "x-api-key",
      "in": "header"
    }
  }
}
