{
  "swagger": "2.0",
  "info": {
    "title": "SCANOSS Components Service",
    "description": "Provides component intelligence services",
    "version": "2.0",
    "contact": {
      "name": "scanoss-components",
      "url": "https://github.com/scanoss/components",
      "email": "support@scanoss.com"
    }
  },
  "tags": [
    {
      "name": "Components"
    }
  ],
  "host": "api.scanoss.com",
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v2/components/echo": {
      "get": {
        "summary": "Standard echo",
        "operationId": "Components_Echo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2EchoResponse"
            }
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "message",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Components"
        ]
      }
    },
    "/api/v2/components/search": {
      "get": {
        "summary": "Search for components",
        "operationId": "Components_SearchComponents",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2CompSearchResponse"
            }
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "search",
            "description": "Component to search for (vendor/component/purl). Search is exclusive (will override vendor/component)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendor",
            "description": "Vendor to search for. Vendor can be combined with Component",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "component",
            "description": "Component to search for. Component can be combined with Vendor",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "package",
            "description": "Type of package (purl type) to search for. i.e. github, maven, golang, npm, all - default github",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of matches to return - default 50",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "description": "Offset to submit to return the next (limit) of component matches",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Components"
        ]
      }
    },
    "/api/v2/components/statistics": {
      "post": {
        "summary": "Get the statistics for the specified components",
        "operationId": "Components_GetComponentStatistics",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2CompStatisticResponse"
            }
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Purl request data (JSON payload)\nWARNING: PurlRequest is deprecated, use ComponentsRequest instead.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2PurlRequest"
            }
          }
        ],
        "tags": [
          "Components"
        ]
      }
    },
    "/api/v2/components/versions": {
      "get": {
        "summary": "Get all version information for a specific component",
        "operationId": "Components_GetComponentVersions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2CompVersionResponse"
            }
          },
          "404": {
            "description": "Returned when the resource does not exist.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "purl",
            "description": "Component to search for (purl)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of versions to return - default 50",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Components"
        ]
      }
    }
  },
  "definitions": {
    "CompStatisticLanguage": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "files": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CompVersionResponseVersion": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2CompVersionResponseLicense"
          }
        },
        "date": {
          "type": "string",
          "title": "Release date of the version"
        }
      },
      "title": "Version details (including license)"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v2CompSearchResponse": {
      "type": "object",
      "properties": {
        "components": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2CompSearchResponseComponent"
          },
          "title": "Component response details"
        },
        "status": {
          "$ref": "#/definitions/v2StatusResponse",
          "title": "Response status (required?)"
        }
      },
      "title": "Component Search response data (JSON payload)"
    },
    "v2CompSearchResponseComponent": {
      "type": "object",
      "properties": {
        "component": {
          "type": "string"
        },
        "purl": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      },
      "title": "Component details"
    },
    "v2CompStatistic": {
      "type": "object",
      "properties": {
        "totalSourceFiles": {
          "type": "integer",
          "format": "int32"
        },
        "totalLines": {
          "type": "integer",
          "format": "int32"
        },
        "totalBlankLines": {
          "type": "integer",
          "format": "int32"
        },
        "languages": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/CompStatisticLanguage"
          }
        }
      }
    },
    "v2CompStatisticResponse": {
      "type": "object",
      "properties": {
        "purls": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2CompStatisticResponsePurls"
          },
          "title": "Component statistic details"
        },
        "status": {
          "$ref": "#/definitions/v2StatusResponse",
          "title": "Response status"
        }
      },
      "title": "Component Statistics response data (JSON payload)"
    },
    "v2CompStatisticResponsePurls": {
      "type": "object",
      "properties": {
        "purl": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "statistics": {
          "$ref": "#/definitions/v2CompStatistic"
        }
      }
    },
    "v2CompVersionResponse": {
      "type": "object",
      "properties": {
        "component": {
          "$ref": "#/definitions/v2CompVersionResponseComponent",
          "title": "Component response details"
        },
        "status": {
          "$ref": "#/definitions/v2StatusResponse",
          "title": "Response status"
        }
      },
      "title": "Component Search response data (JSON payload)"
    },
    "v2CompVersionResponseComponent": {
      "type": "object",
      "properties": {
        "component": {
          "type": "string"
        },
        "purl": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "versions": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/CompVersionResponseVersion"
          }
        }
      },
      "title": "Component details (including versions)"
    },
    "v2CompVersionResponseLicense": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "spdxId": {
          "type": "string"
        },
        "isSpdxApproved": {
          "type": "boolean"
        },
        "url": {
          "type": "string"
        }
      },
      "title": "License details"
    },
    "v2EchoResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "description": "Echo Message Response."
    },
    "v2PurlRequest": {
      "type": "object",
      "properties": {
        "purls": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2PurlRequestPurls"
          },
          "title": "JSON request purls"
        }
      },
      "description": "Purl request data (JSON payload)\nWARNING: PurlRequest is deprecated, use ComponentsRequest instead."
    },
    "v2PurlRequestPurls": {
      "type": "object",
      "properties": {
        "purl": {
          "type": "string",
          "title": "@description: purl to be requested"
        },
        "requirement": {
          "type": "string"
        }
      },
      "title": "TODO: Refactor this API\n- Remove nested Purls message and replace with top-level Purl message type.\n- Update field definition below to: repeated Purl purls = 1;"
    },
    "v2StatusCode": {
      "type": "string",
      "enum": [
        "UNSPECIFIED",
        "SUCCESS",
        "SUCCEEDED_WITH_WARNINGS",
        "WARNING",
        "FAILED"
      ],
      "default": "UNSPECIFIED",
      "description": "Status code Enum."
    },
    "v2StatusResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/v2StatusCode",
          "title": "response status"
        },
        "message": {
          "type": "string",
          "title": "Status message"
        }
      },
      "description": "Detailed response details."
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "description": "API key for authentication",
      "name": "x-api-key",
      "in": "header"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ]
}
